<div class="navbar-fixed z-depth-5">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Jon Corrin</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">Shop</a></li>
        <li><a href="collapsible.html">Contact</a></li>
      </ul>
      <span class="material-icons right arrow" id="leftArrow" (click)="toggleSideWall()" style="cursor: pointer">fast_rewind</span>
      <span class="material-icons left arrow" id="rightArrow" (click)="toggleProfile()" style="cursor: pointer">fast_forward</span>
    </div>
  </nav>
</div>
