nav {
  background-color: rgba(153,102,51,0.25)!important;
}

.brand-logo {
  margin-left: 20px;
  font-family: 'Adamina', serif;
  font-size: 40px;
}

#brandName {
  font-size: 50px;
}

.arrow {
  font-size: 60px;
}

.arrow:hover {
  font-size: 55px;
}


a {
  color: #996633;
  font-family: 'Lobster Two', cursive;
  font-size: large;
}

@media only screen and (min-width: 992px) {
  .material-icons {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  .brand-logo {
    margin-left: 0;
  }
}
