<div class="row" id="sideNavCommentArea">
  <textarea class="col s7 materialize-textarea"
         type="text"
         placeholder="Comments?"
            #commentContent></textarea>
  <i class="small material-icons col s3"
     id="comment"
     (click)="log()">comment</i>
</div>

<!--<div class="input-field col s10">
        <textarea id="content"
                  #postContent
                  class="materialize-textarea"></textarea>
        <label for="content">Content</label>
      </div> -->
