<ul class="side-nav fixed close"
    id="profile"
    [ngClass]="{open: visible === true, close: visible === false}">
  <img class="responsive-img circle" src="https://pbs.twimg.com/profile_images/831356366916816897/7i8ebvj_.jpg">
  <div id="profileContent">
    <a href="#!" class="collection-item">Projects</a>
    <a href="#!" class="collection-item">Blogs</a>
    <a href="#!" class="collection-item">Contact</a>
    <a href="#!" class="collection-item">Suggestions</a>
    <a href="#!" class="collection-item">Examples</a>
    <a href="#!" class="collection-item">Works</a>
    <a href="#!" class="collection-item">Jobs</a>
    <a href="#!" class="collection-item">Resume</a>
    <a href="#!" class="collection-item">Career</a>
  </div>
</ul>

